.box {
  border: 1px solid lightblue;
}

.box-content {
  padding: 10px;
  width: 1000 px;
}

.weather-image {
  float: right;
  padding-right: 10px;
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

#logs_table td:last-child{
  width: 100%;
}

