{% load i18n static %}
{% load airport_tags %}

<script src="{% static "js/jquery-3.5.1.min.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/chart.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_dashboard.css'%}">

{% block content %}
<div id="content-main">

  <div class="module box effect1">
    <h2>PARKING OVERVIEW</h2>
    <div class='box-content'>

    <p>
    Small parking - available <b>{{ SMALL_PARKING_SPOTS | subtract:parked_small_count}}</b> of <b>{{ SMALL_PARKING_SPOTS }}</b> <br>
    Large parking - available <b>{{ LARGE_PARKING_SPOTS | subtract:parked_large_count}}</b> of <b>{{ LARGE_PARKING_SPOTS }}</b>
    </p>

    <!-- GRAPH -->
    <hr>
    <h3>Occupancy Graph</h3>
    <br>
    <div class="charts">
      <span>Small parking</span>
      <div class="charts__chart chart--p{{taken_small_percent}} chart--green" data-percent></div><!-- /.charts__chart -->
      <span>Large parking</span>
      <div class="charts__chart chart--p{{taken_large_percent}} chart--red" data-percent></div><!-- /.charts__chart -->
    </div><!-- /.charts -->

    <hr>
    <div class="see-all">
    <a class="see-all" href="{% url 'admin:airport_aircraft_changelist' %}">All Aircrafts</a>
    </div>

    </div>
  </div>


  <div class="module box effect1">
    <h2>WEATHER DATA</h2>
    <div class='box-content'>
      <table style="float: left;">
        <tr>
          <td>Description:<td>
          <td><b>{{weather_data.description}}</b><td>
        </tr>
        <tr>
          <td>Temperature:<td>
          <td><b>{{weather_data.temperature}} &#8451;</b><td>
        </tr>
        <tr>
          <td>Visibility:<td>
          <td><b>{{weather_data.visibility}}</b><td>
        </tr>
        <tr>
          <td>Wind Speed:<td>
          <td><b>{{weather_data.wind_speed}}</b><td>
        </tr>
        <tr>
          <td>Wind Deg:<td>
          <td><b>{{weather_data.wind_deg}}</b><td>
        </tr>
        <tr>
          <td>Last Update:<td>
          <td><b>{{weather_data.last_update|date:"SHORT_DATETIME_FORMAT"}}</b><td>
        </tr>
      </table>

      <img src="{% static 'img/weather.jpg'%}" height="150" class="weather-image"/>

      <p style="clear: both"</p>

    </div>
  </div>

</div>



  <div id="content-related" class="effect1">
    <h2>RECENT ACTIONS</h2>
    <div class='box-content'>
      <table id="logs_table">
        <tr>
          <th>Call</th> <th>State</th> <th>Intent</th> <th>Done</th> <th>Description</th>
        </tr>
      </table> 
    </div>
    <hr>
    <div class="see-all">
    <a class="see-all" href="{% url 'admin:airport_statechangelog_changelist' %}">See All</a>
    </div>
  </div>



<script>
$(document).ready(function() {

  function getImage(outcome) {
      if (outcome === 'REJECTED') {
        return '<img src="{% static 'img/rejected.png'%}" />';
      } else {
        return '<img src="{% static 'img/accepted.png'%}" />';
      }
  }

  function fetchStateChangeLogs() {
      $.get("/api/state_logs/?limit=10", function(data, status){
        if (data['results']) {
            $('#logs_table tr td').parents('tr').remove();
          for (i = 0; i < data['results'].length; i++) {
            console.log(data['results'][i]);
            call_sign = data['results'][i]['call_sign'];
            state = data['results'][i]['from_state'];
            intent = data['results'][i]['to_state'];
            outcome = data['results'][i]['outcome'];
            description = data['results'][i]['description'];

            $('#logs_table tr:last').after(
                '<tr>' +
                    '<td>' + call_sign + '</td>' +
                    '<td>' + state + '</td>' +
                    '<td>' + intent + '</td>' +
                    '<td>' + getImage(outcome) + '</td>' +
                    '<td>' + description + '</td>' +
                '</tr>');
          }
        }
      });
  }

  fetchStateChangeLogs();
  setInterval(fetchStateChangeLogs, 10000);


});
</script>

{% endblock %}


