{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
    <style type="text/css">
      #content-related {
          float:right;
          width: 100%;
          position: relative;
          margin-right: -635px;
      }

      .colSM #content-related {
          float: left;
          margin-right: 0;
      }
    </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% translate 'Home' %}
    </div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  <!-- {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %} -->
  {% include "admin/dashboard.html" %}
</div>
{% endblock %}
