{% load i18n static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Next-Generation Airport</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static "/css/site/site.css" %}">
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="/">Airport Automation</a></strong> - future is here </h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/simulator">Simulator</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Virtual Airport</h2>
				<p>Next Generation Airport Operations<br /> Full automation of flight control</p>
				
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Aircraft orchestration</h2>
									<p>Why is our platform important?</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>
									This is an new technology which automates airport operations! Using this technology can save a lot of time and money, but most importantly, it reduces risk and saves human lives.
								</p>
								<p>
									Platform clearly defines a rules and orchestrates aircrafts on the airport. It is a robust system which can be easily adapted for other airports.
								</p>
							</div>
						</div>
					</div>
				</section>


			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Looking forwar to your feedback</h2>
							<p>Feel free to contact me</p>
						</header>
						<ul class="actions">
							<li><a href="mailto: kukic.milorad@gmail.com" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/milorad.kukic.7/" target="_blank" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/MiloradKukic" target="_blank" class="icon fa-twitter"></a></li>
						<li><a href="https://www.instagram.com/kukicmilorad/" target="_blank" class="icon fa-instagram"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
    <link rel="stylesheet" type="text/css" href="{% static "/css/site.css" %}">
      <script src="{% static '/js/site/jquery.min.js' %}"></script>
      <script src="{% static '/js/site/skel.min.js' %}"></script>
      <script src="{% static '/js/site/util.js' %}"></script>
      <script src="{% static '/js/site/main.js' %}"></script>

	</body>
</html>
